/* general  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root{
    --bg-light: #8f8f8f;
    --bg-blue: #255ee9;
    --bg-black: #23272a;
    --text-contrast: #748adb;
}
.debug{
    border: 1px, solid, red;
}

/* flex utilities */
.flex{
    display: flex;
}

.between{
    justify-content: space-between;
    align-items: center;    
}

.row-reverse{
    flex-direction: row-reverse;
}





/* header */

.margin-small{
    margin: 0 auto;
    max-width: 900px;
}

.bg-blue{
    background-color: var(--bg-blue);
}

ul{
    list-style: none;
    
}

#header-ul >li{
    margin: 5px;
}
#header-ul > li > a{
    padding: 5px;
    color: white;
    text-decoration: none;
}

button{
    height: 40px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border-color: transparent;
}

.inner-bt{
    padding: 10px 15px;    
}

/* main */

.margin{
    margin: 0 auto;
    max-width: 1200px;
}
.bg-light{
background-color: var(--bg-light);
}

/* footer */

.contrast{
    color: var(--text-contrast);
}
.bg-black{
    background-color: var(--bg-black);
}

.img{
    width: 60%;
}
.content{
    width: 40%;
}